{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block title %}
        Applicant list - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesCoreBundle/Resources/public/js/SearchForm.coffee'
        '@OpitNotesHiringBundle/Resources/public/js/applicant/list.coffee'
    output='js/opitnoteshiring/list_applicant.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Applicant list</h1>
    {% include 'OpitNotesHiringBundle:Applicant:_searchForm.html.twig' with { 'order_field': 'jp.id' } %}
    <table>
        <tr>
            <td class="padding-left-0">
                <a href="{{ path('OpitNotesHiringBundle_applicant_show') }}"><button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button></a>
                <button id="delete" class="button delete button-disabled" disabled="disabled"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    <div id="applicant_list">
        {% include 'OpitNotesHiringBundle:Applicant:_list.html.twig' %}
    </div>
{% endblock %}