<div class="float-left width-290 summary-box margin-right-5">
    <h3><i class="fa fa-user"></i>  Travel Info </h3>
    Total Request: {{totalTravelRequestCount}} <br>
    Pending Request: {{pendingTravelRequestCount}}

</div>