{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block body %}
{% include 'OpitNotesTravelBundle:Travel:_searchForm.html.twig' %}
<table>
    <tr>
        <td class="no-padding">
            <a href="{{ path('OpitNotesTravelBundle_travel_show') }}"><button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button></a>
            <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
        </td>
    </tr>
</table>
{% include 'OpitNotesTravelBundle:Travel:_list.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesTravelBundle/Resources/public/js/list.js'
    output='js/notes_tr_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}