<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/opitnotesuser/css/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/opitnotesuser/css/error.css') }}" />
    </head>
    <body>
        <div id="content">
            <div class="header clear-fix">
                <a href="{{ path('OpitNotesTravelBundle_travel_list') }}" id="siteLogo" class="clearfix">
                    <span>NOTES</span>
                    <span>New OPIT Travel Expense System</span>
                    <div class="clear"></div>
                </a>
            </div>
            <div class="block-exception">
                <h1>Oops! An Error Occurred</h1>
            </div>
        </div>
    </body>
</html>
