{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets 
        '@OpitNotesUserBundle/Resources/public/css/main.css'
        '@OpitNotesUserBundle/Resources/public/css/list.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}           
{% block javascripts %}
    {% javascripts 
        '@OpitNotesUserBundle/Resources/public/js/main.js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
{% block header %}        
    <header>
        <a href="{{ path('OpitNotesUserBundle_user_list') }}" id="siteLogo">
            <span>NOTES</span>
            <span>New OPIT Travel Expense System</span>
        </a>
        <a href="{{ path('OpitNotesUserBundle_logout') }}" id="logoutButton">logout <i class="fa fa-sign-out"></i></a>
        <div id="menuWrapper">
            {% include 'OpitNotesUserBundle:Shared:_menu.html.twig' %}
        </div>
    </header>
{% endblock %}
{% block body %}{% endblock %}