{% extends 'OpitOpitHrmCoreBundle::layout.html.twig' %}
{% block title %}Release Notes - {{ parent() }}{% endblock %}
{% block body %}
<h2>Release Notes</h2>

<article class="background-color-lighter-grey padding-2 margin-bottom-1-em border-radius-5">
    <h3 class="padding-left-1-em margin-top-5 margin-bottom-5 cursor-pointer">
        <i class="fa fa-chevron-up margin-right-5 float-right color-grey border-solid-1 border-radius-5 padding-4 font-weight-normal font-size-d8-em" title="Toggle view"></i>
        v{% if version_number is defined %}{{ version_number }}{% else %}3.1{% endif %}
    </h3>
    <ul>
        <li>Team leave calendar Ical export</li>
        <li>Open source optimization</li>
        <li>Bug fixes / Enhancements</li>
    </ul>
</article>

<article class="background-color-lighter-grey padding-2 margin-bottom-1-em border-radius-5">
    <h3 class="padding-left-1-em margin-top-5 margin-bottom-5 cursor-pointer">
        <i class="fa fa-chevron-up fa-chevron-down margin-right-5 float-right color-grey border-solid-1 border-radius-5 padding-4 font-weight-normal font-size-d8-em" title="Toggle view"></i>
        v3.0.5-beta
    </h3>
    <ul class="display-none">
        <li>Bug Fix: Past mass leave request creation for role general manager</li>
        <li>Bug Fix: Mass leave request list grouping and ordering</li>
        <li>Bug Fix: Leave request category "sickleave" validation</li>
        <li>Bug Fix: Administrative leave/working day setup search</li>
        <li>Bug Fix: Content overlapping menu</li>
        <li>Minor bug fixes</li>
    </ul>
</article>

<article class="background-color-lighter-grey padding-2 margin-bottom-1-em border-radius-5">
    <h3 class="padding-left-1-em margin-top-5 margin-bottom-5 cursor-pointer">
        <i class="fa fa-chevron-up fa-chevron-down margin-right-5 float-right color-grey border-solid-1 border-radius-5 padding-4 font-weight-normal font-size-d8-em" title="Toggle view"></i>
        v3.0.0-beta
    </h3>
    <ul class="display-none">
        <li>Hiring Management</li>
        <li>Leave Management</li>
        <li>Reports - Time sheets</li>
        <li>Information board</li>
        <li>New application UI design</li>
        <li>Team creation</li>
        <li>Team leave calendar</li>
        <li>Status history</li>
        <li>Commenting on status change</li>
        <li>Transportation type management</li>
        <li>Application rebranding</li>
        <li>Framework and library updates</li>
        <li>Bug fixes and cleanup</li>
    </ul>
</article>

<article class="background-color-lighter-grey padding-2 margin-bottom-1-em border-radius-5">
    <h3 class="padding-left-1-em margin-top-5 margin-bottom-5 cursor-pointer">
        <i class="fa fa-chevron-up fa-chevron-down margin-right-5 float-right color-grey border-solid-1 border-radius-5 padding-4 font-weight-normal font-size-d8-em" title="Toggle view"></i>
        v1.1.0-beta
    </h3>
    <ul class="display-none">
        <li>LDAP authentication</li>
        <li>Framework and library updates</li>
        <li>Custom scrollbar implementation</li>
        <li>Bug fixes and cleanup</li>
    </ul>
</article>

<article class="background-color-lighter-grey padding-2 margin-bottom-1-em border-radius-5">
    <h3 class="padding-left-1-em margin-top-5 margin-bottom-5 cursor-pointer">
        <i class="fa fa-chevron-up fa-chevron-down margin-right-5 float-right color-grey border-solid-1 border-radius-5 padding-4 font-weight-normal font-size-d8-em" title="Toggle view"></i>
        v1.0.1-beta
    </h3>
    <ul class="display-none">
        <li>Print view optimization</li>
        <li>Travel expense advances updates</li>
        <li>Travel expense approval process enhancements</li>
        <li>Footer implementation</li>
        <li>Bug fixes</li>
    </ul>
</article>

<article class="background-color-lighter-grey padding-2 border-radius-5">
    <h3 class="padding-left-1-em margin-top-5 margin-bottom-5 cursor-pointer">
        <i class="fa fa-chevron-up fa-chevron-down margin-right-5 float-right color-grey border-solid-1 border-radius-5 padding-4 font-weight-normal font-size-d8-em" title="Toggle view"></i>
        v1.0.0-beta
    </h3>
    <ul class="display-none">
        <li>User Management</li>
        <li>Role Management</li>
        <li>Job Title Management</li>
        <li>Travel Request Management</li>
        <li>Travel Expenditure Management</li>
        <li>Auto Currency Rate Conversion (Magyar Nemzeti Bank)</li>
        <li>Per Diem Management</li>
        <li>Travel Expense Type Management</li>
        <li>Access Control Implementation</li>
        <li>Status Workflow support</li>
        <li>Application Internal/External Notifications</li>
        <li>Bug fixes</li>
    </ul>
</article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitOpitHrmCoreBundle/Resources/public/js/versions.coffee'
    output='js/opithrmuser/versions.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
{% endblock %}