{# must return the controller name #}
{% set module = splitText(app.request.attributes.get('_route'), '_', 1) %}
<nav class="menu">
    <div>
    <div class="mainMenu">
        Admin
        <div class="subMenu">
        </div>
    </div>
    <div class="mainMenu {{ (module == 'user') ? 'active' : '' }}" id="userMenuTab">
        Users
        <div class="subMenu">
            <div class="subMenuItem">
                <a href="{{ path('OpitNotesUserBundle_user_list') }}">List</a>
            </div>
        </div>
    </div>
    <div class="mainMenu {{ (module == 'travel') ? 'active': '' }}">
        Travel
        <div class="subMenu">
            <div class="subMenuItem">
                <a href="{{ path('OpitNotesTravelBundle_travel_list') }}">List</a>
            </div>
        </div>
    </div>
</nav>
<nav class="menu"></nav>