<section id="searchFormWrapper" class="margin-bottom-20 padding-10 border-radius-5">
    <h3 id="searchFormTitle" class="margin-0">
        <i class="fa fa-chevron-up default-right cursor-pointer float-right color-grey border-radius-5 padding-4 font-weight-normal"></i>
        Search Options
    </h3>
    
    <form id="searchForm" method="post" action="{{ path('OpitNotesUserBundle_user_list') }}">
        <div id="searchFormProperties" class="padding-10">
            <div class="searchProperty">
                <label for="search_username">Username</label>
                <input type="text" name="search[username]" id="search_username" />
            </div>
            <div class="searchProperty">
                <label for="search_email">Email</label>
                <input type="text" name="search[email]" id="search_email" />
            </div>
            <div class="searchProperty">
                <label for="search_employee_name">Employee name</label>
                <input type="text" name="search[employeeName]" id="search_employee_name" />
            </div>
        </div>
        <div id="searchFormButtons">
            <button class="button search" id="searchButton" type="submit"><i class="fa fa-search"></i>Search</button>
            <button class="button reset" id="resetButton" type="reset"><i class="fa fa-refresh"></i>Reset</button>
        </div>
        <input type="hidden" name="issearch" id="issearch" value="1" />
        <input type="hidden" name="order[field]" id="order_field" value="{{ order_field is defined ? order_field : 'id' }}" />
        <input type="hidden" name="order[dir]" id="order_dir" value="{{ order_dir is defined ? order_dir : 'asc' }}" />
    </form>
</section>