{% extends 'OpitNotesCoreBundle:Shared:search.html.twig' %}

{% block forms %}
<div class="searchProperty">
    <label for="search_username">Username</label>
    <input type="text" name="search[username]" id="search_username" />
</div>
<div class="searchProperty">
    <label for="search_email">Email</label>
    <input type="text" name="search[email]" id="search_email" />
</div>
<div class="searchProperty">
    <label for="search_employee_employee_name">Employee name</label>
    <input type="text" name="search[employee][employeeName]" id="search_employee_name" />
</div>
<div class="searchProperty">
    <label for="search_ldap_enabled">Ldap enabled</label>
    <select name="search[ldapEnabled]" id="search_ldap_enabled">
        <option value="NULL">Any</option>
        <option value="0">No</option>
        <option value="1">Yes</option>
    </select>
</div>
{% endblock %}