{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}Version History - {{ parent() }}{% endblock %}
{% block body %}
<h2>Version History</h2>
<div class="background-color-lighter-grey padding-2">
    <article>
        <h3 class="padding-left-1-em">v1.0</h3>
        <ul>
            <li>User Management</li>
            <li>Role Management</li>
            <li>Job Tittle Management</li>
            <li>Travel Request Management</li>
            <li>Travel Expenditure Management</li>
            <li>Auto Currency Rate Conversion (Magyar Nemzeti Bank)</li>
            <li>Per Diem Management</li>
            <li>Travel Expense Type Management</li>
            <li>Access Control Implementation</li>
            <li>Status Workflow support</li>
            <li>Application Internal/External Notifications</li>
            <li>Bug fixes</li>
        </ul>
    </article>
</div>
{% endblock %}