/*
    Created on : Nov 27, 2013, 4:37:04 PM
    Author     : OPIT\Notes
*/

$defaultLightColor: rgba(235, 235, 235, 1);
$lightGrayColor: rgba(220, 220, 220, 0.8);
$formDarkColor: rgba(210, 210, 210, 1);
$lightGrayHover: rgba(200, 200, 200, 1);
$defaultDarkColor: rgba(180, 180, 180, 1);
$darkGrey: rgba(100, 100, 100, 1);
$darkerGrayColor: rgba(80, 80, 80, 1);

$defaultRed: rgb(170, 0, 0);
$defaultGreen: rgb(0, 100, 0);

$orangeColor: rgb(242, 140, 56);
$lightOrangeColor: rgb(212, 110, 26);

$defaultFontSize: 13px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
       -o-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
       -o-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}
@mixin box-shadow($left, $top, $scatter, $size, $color){
    box-shadow: $left $top $scatter $size $color;
    -moz-box-shadow: $left $top $scatter $size $color;
    -webkit-box-shadow: $left $top $scatter $size $color;
    -o-box-shadow: $left $top $scatter $size $color;
}

.vertical-align-top {
    vertical-align: top;
}

.align-right{
    text-align: right;
}

.display-none{
    display:none !important;
}

.red-text{
    color:$defaultRed;
}

.bold {
    font-weight: bold;
}

.deleteFormFieldsetChild{
    display:inline-block;
}

.height-20{
    height:20px;
}

.width-420{
    width:420px;
}

.width-80{
    width:80px;
}

.width-50{
    width:50px;
}

.display-inline-block{
    display:inline-block !important;
}

#changeStateWrapper{
    display:block;
    
    .changeState{
        display:inline-block;
    }
    
    h3{
        display:inline-block;
        margin-top:0;
        margin-right:5px;
    }
}

.visibility-hidden{
    visibility:hidden;
}

.toggle-icon{
    font-size: .5em;
    padding: 4px;
    color: white;
    border: solid 1px white;
    background-color: $orangeColor;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin:2px 4px 0 0;
}

.toggle-icon:hover{
    cursor:pointer;
    background-color:$lightOrangeColor;
}