/* 
    Created on : Mar 4, 2014, 9:27:23 AM
    Author     : OPIT\Notes
*/


.travel-status-history{
    font-size: 0.65em;
    margin-top: 10px;
    margin-right: 10px;
}

h1:hover i.travel-status-history{
    visibility: visible;
}

i.travel-status-history{
    visibility: hidden;
}
