/*
Syntax error: Invalid CSS after "h1{": expected "}", was "<<<<<<< HEAD"
        on line 121 of src/Opit/Notes/TravelBundle/Resources/public/css/showTravelExpense.scss

116:     padding:3px;
117:     @include border-radius(5px);
118: }
119: 
120: h1{
121: <<<<<<< HEAD
122:     display:inline-block;
123:     margin-top:0;
124: =======
125:     margin:0;
126: >>>>>>> Implement status history for travel module entities (#4033)

Backtrace:
src/Opit/Notes/TravelBundle/Resources/public/css/showTravelExpense.scss:121
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1148:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1084:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1079:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:535:in `block'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/var/lib/gems/1.9.1/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/var/lib/gems/1.9.1/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"h1{\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 121 of src/Opit/Notes/TravelBundle/Resources/public/css/showTravelExpense.scss\A \A 116:     padding:3px;\A 117:     @include border-radius(5px);\A 118: }\A 119: \A 120: h1{\A 121: <<<<<<< HEAD\A 122:     display:inline-block;\A 123:     margin-top:0;\A 124: =======\A 125:     margin:0;\A 126: >>>>>>> Implement status history for travel module entities (#4033)"; }
