/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Nov 28, 2013, 4:00:11 PM Author     : OPIT\Notes
*/
/* Created on : Nov 27, 2013, 4:37:04 PM Author     : OPIT\Notes
*/
.vertical-align-top { vertical-align: top; }

#travelRequest label { display: block; }
#travelRequest .formFieldset { margin: 20px 0 20px 0; }
#travelRequest .formFieldset > div { margin-top: 5px; margin-bottom: 5px; }
#travelRequest .marginLeft .inlineElements { margin-left: 1em; margin-right: 0; }
#travelRequest .generalFormFieldset { padding: 10px; }
#travelRequest input.error, #travelRequest select.error { border: solid 2px #aa0000; display: inline-block; }
#travelRequest label.error { color: #aa0000; background-color: #c8c8c8; padding: 2px; border: solid 2px #aa0000; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; margin-top: 5px; display: inline-block; z-index: 4; margin: 0 0 0 4px; }
#travelRequest label.valid { display: none !important; }
