/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Dec 18, 2013, 2:37:14 PM Author     : OPIT\Notes
*/
/* Created on : Nov 27, 2013, 4:37:04 PM Author     : OPIT\Notes
*/
.vertical-align-top { vertical-align: top; }

.display-none { display: none !important; }

.red-text { color: #aa0000; }

.bold { font-weight: bold; }

.deleteFormFieldsetChild { display: inline-block; }

.height-20 { height: 20px; }

.width-420 { width: 420px; }

.width-80 { width: 80px; }

.width-50 { width: 50px; }

.display-inline-block { display: inline-block !important; }

#travelExpense { display: none; }

.time-picker { margin: 2px 0 0 5px; }

.selected-expense { margin: 0; background-color: #505050; color: white; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; top: -10px; left: -10px; padding: 1px; text-align: center; margin-bottom: 4px; }

.formFieldsetDescription { position: absolute; margin: -70px 0 0 100px; padding: 5px; background-color: #000; color: #FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.short-description { margin: -60px 0 0 190px !important; }

.perDiemTable { margin: 0 0 10px 10px; }

.fa-question-circle:hover { cursor: pointer; }

label.custom-error { color: #aa0000; background-color: #c8c8c8; padding: 2px; border: solid 2px #aa0000; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; display: inline-block; z-index: 4; margin-left: 1em !important; margin-bottom: 10px !important; }

.custom-field { background-color: #d2d2d2; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; width: 110px; padding: 3px; }

h1 { display: inline-block; margin-top: 0; }

#changeStateWrapper { display: inline-block; position: relative; }
#changeStateWrapper .changeState { position: absolute; margin-top: -23px; margin-left: 10px; }
