/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Dec 18, 2013, 2:37:14 PM Author     : OPIT\Notes
*/
/* Created on : Nov 27, 2013, 4:37:04 PM Author     : OPIT\Notes
*/
.vertical-align-top { vertical-align: top; }

.display-none { display: none !important; }

.red-text { color: #aa0000; }

#travelExpense { display: none; }

.time-picker { margin: 2px 0 0 5px; }

.selected-expense { margin: 0; background-color: #505050; color: white; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; top: -10px; left: -10px; padding: 1px; text-align: center; margin-bottom: 4px; }

.per-diem-amounts { position: absolute; margin: -70px 0 0 90px; background-color: #000; color: #FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.perDiemTable { margin: 0 0 10px 10px; }

.fa-question-circle:hover { cursor: pointer; }
