/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2013, 2:37:14 PM
    Author     : OPIT\Notes
*/

@import '_defaults';

#travelExpense{
    display:none;
}

.time-picker{
    margin: 2px 0 0 5px;
}

.selected-expense{
    margin:0;
    background-color:$darkerGrayColor;
    color:white;
    display:block;
    @include border-radius(5px);
    top:-10px;
    left:-10px;
    padding:1px;
    text-align:center;
    margin-bottom:4px;
}

.formFieldsetDescription{
    position:absolute;
    margin:-70px 0 0 100px;
    padding:5px;
    background-color: #000;
    color: #FFF;
    
    @include border-radius(5px);
}

.short-description{
    margin:-60px 0 0 190px !important;
}

.perDiemTable{
    margin:0 0 10px 10px;
}

.fa-question-circle:hover{
    cursor:pointer;
}