/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2013, 4:00:11 PM
    Author     : OPIT\Notes
*/

@import '_defaults';

#travelRequest{
    display:none;
}

#travelRequest, .travelForm{
    label{
        display:block;
    }
    
    .formFieldset{
        margin:20px 0 20px 0;
        
        >div{
            margin-top:5px;
            margin-bottom:5px;
        }
    }
    
    .marginLeft{
        .inlineElements{
            margin-left:1em;
            margin-right:0;
        }
    }    
    
    .generalFormFieldset{
        padding:10px;
    }
    
    input.error, select.error{
        border:solid 2px $defaultRed;
        display:inline-block;
    }
}