/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2014, 3:14:17 PM
    Author     : OPIT\kaufmann
*/

@import '_defaults';

.fa-print{
    float:right;
}

h3{
    margin:0.4em 0 0.4em 0;
}

.bordered{
    
    td{
        padding:3.5px;
    }
}

.signiture{
    display:none;
    margin:0 20px 0 0;
}

.icons:hover{
    cursor:pointer;
}
.icons{
    float:right;
    width:36px;
    height:36px;
    margin:0 0 0 5px;
}

#opitLogo{
    width:100px;
    height:23px;
    display:none;
}

table{    
    width: 550px;
    
    tr{
        .incrementation{
            width:20px;
            min-width:20px;
        }
    }
    .table-title{
        background-color:lightgrey;
        padding: 0 0 0 5px;    
        font-weight:bold;
        text-align:left;
    }    
}

.page-break-after{
    page-break-after: always;
}

@media print
{
    .icons{
        display:none;
    }
    
    .signiture{
        display:inline-block;
    }
    
    #opitLogo{
        display:block;
    }
    
    a{
        display:none;
    }
}