parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     opithrm
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_encryption: ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    monolog_mail_from: portal@opit.hu
    monolog_mail_to:   ~

    # Pager
    max_results: 25
    max_pages: 3

    default_currency:   EUR

    ldap_host: ~
    ldap_domain_name_short: ~
    ldap_base_dn: OU=Users,DC=foo,DC=net
    ldap_enabled: false

    leave_default_days: ~
    arrival_time: ~
    lunch_time_in_minutes: ~

    mail_sender: 'noreply@application'

    application_name: OPIT-HRM
    # Versioning policy can be found in the README.md
    version_number: '3.2.2-beta'

    # In memory credentials
    in_memory_users:
        -
            name: basicuser
            password: basicpassword
