parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_encryption: ~
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    monolog_mail_from: portal@opit.hu
    monolog_mail_to:   ~

    max_results: 25
    max_pager_pages: 3

    default_currency:   EUR
    version_number: '1.1.0-beta'

    ldap_host: ~
    ldap_domain_name_short: ~
    ldap_base_dn: OU=Users,DC=foo,DC=net
