/* 
    Created on : Jul 10, 2014, 9:43:46 AM
    Author     : OPIT\OPITHRM
*/

#leave-calendar-container {
    position: relative;
    
    .fc-event-title {
        text-transform: uppercase;
    }

    #calendar-button-group {
        position: absolute;
        z-index: 10;
        display: none;
        right: 2em;

        > #calendar-team-selector {
            vertical-align:top;
        }

        > #export-button {
            vertical-align:top;
            margin-left: 10px;
        }
    }

    &:hover #calendar-button-group {
        display:block;
    }
}