/* 
    Created on : Jul 10, 2014, 9:43:46 AM
    Author     : OPIT\OPITHRM
*/

#leave-calendar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
}

#leave-calendar-container {
    width:612px;
    height: 615px;
    position: relative;

    &.fullscreen {
        position: absolute;
        left: 50%;
        top: 20px;
        border: none;
        z-index: 100;
        background-color: transparent;

        #export-button {
            display: inline-block;
        }
    }

    &:hover {
        #export-button {
            display: inline-block;
        }
    }

    .fc-event-title {
        text-transform: uppercase;
    }

    #calendar-button-group {
        display: inline-block;
    }

    #export-button {
        display: none;
    }

    #toggle-calendar-size {
        float: right;
        margin-top: -5px;
        margin-right: -5px;
    }
}