<div id="leave-calendar-container" class="float-left summary-box" style="clear:both;width:612px;">
    <span id="export-button" class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right">export <i class="fa fa-upload"></i></span>
    <h3><i class="fa fa-user"></i>  Team Leave Calendar </h3>
    <div id="team-leaves-calendar" class="width-98"></div>
    <div class="margin-bottom-20 margin-top-5 display-block">
         {% for employee in employees %}
            {% set employeeClass = employee.employeeName|replace(' ', '_') ~ '-' ~ employee.id %}
            <div class="display-inline-block padding-10 border-radius-5 padding-top-2 padding-bottom-2 margin-bottom-5 color-white team-employee {{ employeeClass }}" data-class="{{ employeeClass }}">
                {{ employee.employeeName }}
                <br />
                <span class="font-size-d8-em">
                    {{ employee.user.email }}
                </span>
            </div>
        {% endfor %}
    </div>
</div>