/* 
    Created on : Nov 28, 2013, 4:00:11 PM
    Author     : OPIT-HRM Team
*/

@import '_defaults.scss';

#travelRequest, .travelForm{
    .generalFormFieldset{
        padding:10px;
    }
    
    .error-label{
        margin-top:5px;
        display:inline-block;
        z-index:4;
    }
    
    .formFieldset{
        margin:20px 0 20px 0;

        >div{
            margin-top:2px;
            margin-bottom:2px;
        }
    }    
}