/* 
    Created on : Nov 20, 2013, 3:09:17 PM
    Author     : OPIT\OPITHRM
*/

@import '_defaults.scss';

html {
    background: url('../../../images/bg-office.jpg') no-repeat center center fixed;
    @include background-size(cover);
}

#mainWrapper{
    width:60%;
    min-width:980px;
    height:622px;

    #welcomeWrapper{
        width: 30%;
        height: 100%;
        padding-left: 15px;
        background-color: $aquamarine; /* For IE8 and earlier */
        background-color: $aquamarineTransparent;
        @include box-sizing(border-box);

        #welcomeText{
            font-size: 2em;
        }

    }

    #loginForm{
        #login{
            .placeholder{
                margin: -30px 0 0 10px;
            }
        }

        input{
            width:240px;
            height:30px;
            outline:none;
            border:1px solid transparent;
            background-color: #FAFFBD;
            padding: 2px 5px;
            text-indent: 25px;
            @include border-radius(0px); /* Overwrites default border radius */
        }

        input:focus{
            border:solid 1px $defaultDarkColor;
        }

        label{
            display:none;
        }

        button{
            border:0;
            outline:0;
            padding:8px 30px 8px 30px;
        }
    }

    #featuresForm{
        width: 69.5%;
        height: 100%;
        text-indent: 20px;
        background-color: $darkBlack; /* For IE8 and earlier */
        background-color: $lightBlack;

        li{
            margin:0 0 0 20px;
            text-indent: 5px;
        }

        .home-box {
            color: $snowColor;
            padding: .5em;
            margin: 0 auto;
            min-height: 155px;
            border-bottom: 1px solid $defaultDarkColor;
            @include box-sizing(border-box);
            &:hover{
                background-color: $middleBlack;
            }
        }
    }
}
