{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
Leave settings list - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/opitnotestravel/css/module.css') }}" />
{% endblock %}
{% block body %}
<h1>Leave settings configuration</h1>
<div class="dialog-description">Leave settings can be configured from here. This values will be used for the leave days calculation.</div>
{% if isEnabled  %}
    <div  id="list">
        <div id="list-reply-message"></div>
        <div id="reply-message"></div>
        <form id="list-settings">
            {% include 'OpitNotesLeaveBundle:Admin:_listLeaveSettings.html.twig' %}
        </form>
        </div>
        <a href=""><button id="save" class="button">Save</button></a>
    </div>
{% else %}
    <h3>
        The leave settings configuration is disabled.
    </h3>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesLeaveBundle/Resources/public/js/Admin/listLeaveSettings.js'
    output='js/opitnotesleave/leave_setting.js' filter='?yui_js' %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

