{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block title %}
    Leave category list - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block body %}
<h1>Leave category list</h1>
<div  id="list">
    <table>
        <tr>
            <td class="padding-0">
                <button id="addLeaveCategory" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    <form id="form-leavecategory">
        {% include 'OpitNotesLeaveBundle:Admin:_listLeaveCategories.html.twig' %}
    </form>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesLeaveBundle/Resources/public/js/Admin/listLeaveCategory.coffee'
        '@OpitNotesUserBundle/Resources/public/js/list.coffee'
    output='js/opitnotesleave/admin/list_categories.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
