/* 
    Created on : Jan 23, 2014, 1:03:45 PM
    Author     : OPIT\NOTES
*/
@import '_defaults';

#content{
    width:500px;
    margin:4em auto;
    
    .block-exception{
        background-color:$defaultLightColor;
        padding:10px;
        @include border-radius(5px);
    }

    .header{
        margin-bottom:2em;
        
        #siteLogo{
            float:none;
            margin:0;
        }        
    }    
}