/* 
    Created on : Mar 10, 2014, 3:58:27 PM
    Author     : OPIT\NOTES
*/

@import '_defaults';

html, body{
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}

table {
    th {
        background-color: $darkGrey;
        padding: 10px 10px 10px 10px;
        text-align: left;
        color: white;

        .fa-trash-o{
            color:white;

            &:hover {
                color:white;
            }
        }
    }
    td { 
        padding: 5px 10px 5px 10px;
    }
}

table.bordered{
    width:100%;
    
    tr, td, th{
        border: solid 1px $greyColor;
    }
    
    td:first-child{
        font-weight: bold;
        background-color: $formDarkColor;
    }
    
    th, caption{
        background-color: $darkGrey;
        color: white;
        padding: 5px;
        margin-top: 5px;
    }
}

input[type="text"], input[type="date"], input[type="number"], input[type="password"], textarea{
    padding:4px 0 4px 0;
    display:block;   
    border:solid 1px $defaultDarkColor;
    outline:0;
    text-indent: 5px;    
    @include border-radius(5px);
}

input[type="text"]:focus, input[type="date"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea:focus{
    border:solid 1px $darkGrey;
}

select {
    background-repeat: no-repeat;
    color: rgb(51, 3, 0);
    font-size: inherit;
    padding: 3px;
    margin: 0;
    outline: none;
    border: solid 1px rgb(180, 180, 180);
    @include gradient-with-percent($snowColor, $darkSnowColor, $darkerSnowColor, 40%);
}

a{
    text-decoration:underline;
    color:black;
    
    > i{
        text-decoration: none;
        float:right;
        margin:0 5px 0 0;
    }
}

#siteLogo{
    span:first-child{
        font-size:3.6em;
        line-height:.8em;
    }
    span:last-of-type{
        font-size:0.8em;
        margin:-10px 0 0 0;
    }
}

#main-wrapper{
    #main-content{
        margin: 0 1.5em;
    }
}

header{
    margin-bottom:50px;
    
    #logoutButton{
        padding:4px 10px 4px 10px;
        margin:-20px 10px 0 0;
        @include border-bottom-left-radius(10px);
        @include border-bottom-right-radius(10px);
        
        > i{
            float:none;
        }
    }
    
    .header-tab{
        background-color:$lightGrayColor;
        padding:4px 10px 4px 10px;
        margin:-20px 10px 0 0;
        @include border-bottom-left-radius(10px);
        @include border-bottom-right-radius(10px);

        > i{
            float:none;
        }
    }

    #menuWrapper{
        margin: 20px 0 30px 0;
        width: 100%;
        height:80px;

         .menu{
            height:40px;
            width:100%; 
        }
        
         nav:first-child{
            background-color:$lightGrayColor;
        }

         nav:last-child{
            background-color:$lightGreen;
        } 

         nav:first-child .mainMenu{
            float:left;
            height:44px;
            line-height:44px;
            padding: 0 10px 0 10px;
            margin: -3px 3px 0 0;
            @include border-top-right-radius(5px);
            @include border-top-left-radius(5px); 
        }

         nav:first-child .mainMenu .subMenu{
            position:absolute;
            width:100%;
            height:42px;
            left:0;
            margin:-3px 0 0 0;
            background-color:$lightGrayHover;
            display:none;
            @include border-radius(0);
        }

         nav:first-child .mainMenu:hover{
            cursor:pointer;
            background-color:$lightGrayHover;
        }

         nav:first-child .mainMenu:hover .subMenu{
            display:block;
            z-index:2;
        }

         nav:first-child .active{
            background-color:$lightGreen;
            color:white;
        }

         nav:first-child .active:hover{
            background-color:$lightGreen;
        }

         nav:first-child .active .subMenu{
            background-color:$lightGreen;
            display:block;
            z-index:1;
        }
    }
}

.subMenuItem{
    float:left;
    margin:0 0 0 10px;
    
    a{
        background-color:$darkerGrayColor;
        font-weight: normal;
        color:white;
        text-decoration:none;
        padding:5px 15px 5px 15px;
        @include border-radius(5px);

        i{
            margin:0 0 0 5px;
            display:inline;
        }
    }

    ul{
        background-color:$darkGrey;
        padding:0;
        margin: -6px 0 0 0;
        display:none;
        position:absolute;
        min-width:100px;
        @include border-bottom-left-radius(5px);
        @include border-bottom-right-radius(5px);
        @include border-top-right-radius(5px);

        li{
            a{
                background-color:$darkGrey;
                display:inline-block;
                width:100%;
                padding:0 6px 0 6px;
                @include border-radius(0);
            }
        }

        li:first-child{
            a{
                @include border-top-right-radius(5px);
            }
        }
        
        li:last-child{
            @include border-bottom-left-radius(5px);
            
            a{
                @include border-bottom-left-radius(5px);
                @include border-bottom-right-radius(5px);
            }
        }

        li:hover{
            background-color:$darkerGrayColor;
            
            a{
                background-color:$darkerGrayColor;
            }
        }
    }
}

.subMenuItem:hover{
    a{
        background-color:$darkGrey;
    }
    a.dropdown{
        padding-bottom:12px;
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
    }
    
    ul{
        display:block;
    }
}

.subMenuClone{
    position:fixed;
    width:100%;
    height:42px;
    left:0;
    top:0;
    display:none;
    background-color:$lightGreen;
    z-index:10;
    @include border-radius(0);
    
    .subMenuItem{
        margin-top:12px;
        ul{
            margin-top:4px;
            list-style-type:none;
            li{
                a{
                    padding: 12px 10px;
                }
            }
        }
    }
}

#notifications:hover{
    right:-312px;
    cursor:pointer;
}

#notifications{
    display: block;
    position:fixed;
    z-index:100;
    right:-329px;
    top:200px;
    text-decoration:none;
    padding:4px 10px 4px 10px;
    @include border-bottom-left-radius(10px);
    @include transition(right, .5s);
    
    > i{
        font-size:1.6em;
        color:$defaultDarkColor;
        display: inline-block;
        vertical-align: top;
        background-color:$lightGrayColorFull;
        padding: 5px 9px;
        margin-right: -4px;
        @include border-top-left-radius(10px);
        @include border-bottom-left-radius(10px);

        &:hover {
            color:$lightGreen;
        }
    }

    &.right-m15-important > i {
        color:$lightGreen;
    }

    #unread-notifications-count{
        position:absolute;
        top: 0;
        left: 0;
        background-color:$lightGreen;
        width: 14px;
        height: 14px;
        color: white;
        text-align: center;
        line-height: 1.6em;
        font-size: 9px;
        margin-left: 14px;
        margin-top: 18px;
        font-weight: bold;
        @include border-radius(6px);
    }

    #unread-notifications-count:hover{
        cursor:pointer;
    }
    
    #notifications-wrapper{
        width:280px;
        min-height:80px;
        max-height:400px;
        border:solid 10px $lightGrayColorFull;
        background-color:$lightGrayColorFull;
        z-index:100;
        display: inline-block;
        margin:inherit;
        @include border-bottom-left-radius(10px);

        #notifications-content{

            .notification-type-title{
                color: white;
                font-weight: bold;
                background-color: $boxShadowColor;
                padding: 2px 3px;
            }

            .notification{
                width:100%;
                color:black;
                border-bottom: solid 1px black;

                .notification-header{
                    padding:3px 0 3px 3px;
                    
                    .notification-header-datetime{
                        display:inline-block;
                    }
                    
                    .notification-header-delete{
                        float:right;
                        margin:0 10px 0 0;
                    }
                }

                .notification-message{
                    padding:3px 0 3px 3px;

                    .notification-details:hover{
                        color: $lightGreen;
                    }
                }
            }

            .notification:last-child{
                border-bottom: none;
            }

            .unread{
                background-color: white;
            }
        }
    }
}

.fa-trash-o{
    font-size:1.1em;

    &:hover{
        cursor:pointer;
        color:$defaultRed;
    }
}

input.error, select.error{
    border:solid 2px $defaultRed;
    display:inline-block;
}

label{
    display:block;
}

label.error, label.custom-label-error{
    color:$defaultRed;
    background-color:$lightGrayHover;
    padding:2px;
    border:solid 2px $defaultRed;
    display:inline-block;
    z-index:4;
    margin-top: 5px;
    margin-left: 5px;
    @include border-radius(5px);
}

.input-prefix-position{
    margin-top: 7px;
    margin-left: 7px;
}

.icon-prefix-indent{
    text-indent: 22px !important;
}

.item-input-box-header {
    font-size: $defaultFontSize;
    width: 92%;
    @include box-shadow(0px, 0px, 1px, 3px, rgba(0, 0, 0, 0.1));
    @include border-top-right-radius(5px);
    @include border-top-left-radius(5px);
}

.item-input-box {
    width: 92%;
    overflow: auto;
    background-repeat: no-repeat;
    color: rgb(51, 3, 0);
    font-size: inherit;
    @include gradient-with-percent($snowColor, $darkSnowColor, $darkerSnowColor, 40%);
    @include box-shadow(0px, 0px, 1px, 3px, rgba(0, 0, 0, 0.1));
    @include border-bottom-right-radius(5px);
    @include border-bottom-left-radius(5px);
    
    input[type=text], input[type=password] {
        width: 96%;
    }
}

footer{
    @include box-shadow(0, -1px, 4px, 1px, $defaultDarkColor);
}

.ui-dialog .ui-dialog-content{
    padding: 0.5em 0.2em 0.5em 0.5em;
}

.mCSB_container{
    margin-right: 22px;
}

.mCSB_dragger_bar{
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.mCSB_draggerRail{
    width: 4px !important;
}

.mCSB_draggerRail{
    background-color: #d2d2d2 !important;
}

.summary-box {
    color: #fafafa;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 185px;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 3px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.9);
        filter:alpha(opacity=90); /* For IE8 and earlier */ 
    }
    h3{
        color: $lightGreen;
        margin-top: 2px;
    }
}

ul {
    &.no-style {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > li {
            margin-bottom: 3px;
        }
    }
    
    &.option-list-scrollable {
        max-height: 70px;
        overflow: hidden;
        padding: 5px 0 5px 5px;
        border: 1px solid $lightGrayColorFull;
        background-color: $darkerSnowColor;
        @include border-radius(5px);

        .mCS_no_scrollbar {
            margin-right: 5px;
        }
        
        label{
            display: inline;
        }
    }
}