/* 
    Created on : Mar 10, 2014, 9:55:44 AM
    Author     : OPIT\OPITHRM
*/

@import '_defaults';

/* Z-indexes */

.z-index-10{
    z-index: 10;
}

/* Display properties */

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.display-none-important {
    display: none !important;
}

.display-inline{
    display: inline;
}

.display-inline-block{
    display: inline-block;
}

.display-inline-block-important{
    display: inline-block !important;
}

.display-table{
    display: table;
}

.display-table-important{
    display: table !important;
}

/* Float properties */

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/* Color properties */

.red-text{
    color: $defaultRed;
}

.color-red{
    color: $defaultRed;
}

.darker-gray-color {
    color: $darkerGrayColor;
}

.color-white{
    color: white;
}

.color-ferrari-red{
    color: #F70D1A;
}

.color-orange{
    color: $orangeColor;
}

.color-light-grey{
    color: $lightGrayHover;
}

.color-grey{
    color: $defaultDarkColor;
}

.color-dark-grey{
    color: $darkGrey;
}

.color-green{
    color: $defaultGreen;
}

.color-light-green{
    color: $lightGreen;
}

.color-blue{
    color: blue;
}

.color-black{
    color: black;
}

/* Background color properties */

.background-color-light-black{
    background-color: $lightBlack;
}

.background-color-white{
    background-color: white;
}

.background-color-green{
    background-color: $lightGreen;
}

.background-color-light-orange{
    background-color: $lightOrangeColor;
}

.background-color-light-yellow{
    background-color: $lightYellow;
}

.background-color-dark-grey{
    background-color: $darkerGrayColor;
}

.background-section-color-grey{
    background-color: $darkGrey;
}

.background-color-light-grey{
    background-color: $lightGrayHover;
}

.background-color-lighter-grey{
    background-color: $lightGrayColor;
}

.background-color-lightest-grey{
    background-color: $defaultLightColor;
}

.background-color-grey{
    background-color: $formDarkColor;
}

.background-color-black{
    background-color: $darkBlack;
}

.background-color-aquamarine{
    background-color: $aquamarine;
}


/* Align properties */

.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

/* Padding properties */

.padding-top-20 {
    padding-top: 20px;
}

.padding-10{
    padding: 10px;
}

.padding-5{
    padding: 5px;
}

.padding-3{
    padding: 3px;
}

.padding-4{
    padding: 4px;
}
.padding-2{
    padding: 2px;
}

.padding-top-6{
    padding-top: 6px;
}

.padding-bottom-6{
    padding-bottom: 6px;
}

.padding-top-2{
    padding-top: 2px;
}

.padding-bottom-2{
    padding-bottom: 2px;
}

.padding-bottom-5{
    padding-bottom: 5px;
}

.padding-left-1-em{
    padding-left: 1em;
}

.padding-left-0{
    padding-left: 0px;
}

/* Margin properties */

.margin-0{
    margin: 0;
}

/**/
.no-margin {
    margin: 0;
}

.margin-center{
    margin: 0 auto;
}

.margin-top-0{
    margin-top: 0;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-12{
    margin-top: 12px;
}

.margin-top-15{
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-top-28 {
    margin-top: 28px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-right-0{
    margin-right: 0;
}

.margin-right-1-em{
    margin-right: 1em;
}

.margin-right-5{
    margin-right: 5px;
}

.margin-right-15{
    margin-right: 15px;
}

.margin-right-20{
    margin-right: 20px;
}

.margin-left-150{
    margin-left: 150px;
}

.margin-bottom-0{
    margin-bottom: 0;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.margin-bottom-7{
    margin-bottom: 7px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.margin-bottom-1-em{
    margin-bottom: 1em;
}

.margin-bottom-01em-important{
    -moz-margin-after: 0.1em !important;
    -webkit-margin-after: 0.1em !important;
    margin: 0.1em 0px !important;
}

.margin-left-0-important{
    margin-left: 0 !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-1-em{
    margin-left: 1em;
}

/* Width properties */

.width-615{
    width: 615px;
}

.width-420{
    width: 420px;
}

.width-80{
    width: 80px;
}

.width-50{
    width: 50px;
}

.width-200{
    width: 200px;
}

.width-240{
    width: 240px;
}

.width-280{
    width: 280px;
}

.width-500{
    width: 500px;
}

.max-width-150{
    max-width: 150px;
}

.max-width-150{
    max-width: 150px;
}

.width-24 {
    width: 24%;
}

.width-30 {
    width: 30%;
}

.width-32 {
    width: 32%;
}

.width-40 {
    width: 40%;
}

.width-55 {
    width: 55%;
}

.width-85 {
    width: 85%;
}

.width-96 {
    width: 96%;
}

.width-98 {
    width: 98%;
}

.width-100 {
    width: 100%;
}

.width-15-fix {
    width: 15px;
}

.width-24-fix {
    width: 24px;
}

.width-22-fix {
    width: 22px;
}

.width-80-fix {
    width: 80px;
}

.width-small{
    width: 100px;
}

.wdith-medium{
    width: 200px;
}

.width-290{
    width: 290px;
}

.width-300{
    width: 300px;
}

.width-250{
    width: 250px;
}

.width-large{
    width: 500px;
}

/* Height properties */

.height-18{
    height: 18px;
}

.height-20{
    height: 20px;
}

.height-auto {
    height: auto;
}

.height-50{
    height: 50px;
}

.height-55{
    height: 55px;
}

.height-60{
    height: 60px;
}

.height-83{
    height: 83px;
}

.height-100{
    height: 100px;
}

.height-150{
    height: 150px;
}

/* Right properties */

.right-0{
    right: 0;
}

.right-m15-important{
    right: -15px !important;
}

.right-m312-important{
    right: -312px !important;
}

/* Font weight properties */

.bold {
    font-weight: bold;
}

.font-weight-normal{
    font-weight: normal;
}

/* Visibility properties */

.visibility-hidden{
    visibility: hidden;
}

.text-overflow-ellipsis{
    text-overflow: ellipsis;
}

.overflow-hidden {
    overflow: hidden;
}

.white-space-nowrap{
    white-space: nowrap;
}

/* Position properties */

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.position-fixed{
    position: fixed;
}

.fix-top-20{
    top: 20px;
}

.fix-right-15{
    right: 15px;
}

/* Border r. property*/

.border-radius-5{
    @include border-radius(5px);
}

.border-radius-2{
    @include border-radius(2px);
}

.border-radius-0-important{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}

.round-border{
    @include border-radius(100%);
}

.border-solid-1 {
    border-width: 1px;
    border-style: solid;
}

.border-bottom-seperator-important{
    border-bottom: solid 2px $darkGrey !important;
}

/* Box shadow properties */

.box-shadow-1-darkgray{
    @include box-shadow(1px, 1px, 1px, 1px, $darkerGrayColor);
}

.box-shadow-0{
    @include box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0));
}

/* ? properties*/

.deleteFormFieldsetChild{
    display:inline-block;
}

.default-border {
    border: 1px solid $darkGrey;
}

.text-decoration-none{
    text-decoration: none;
}

.text-decoration-underline{
    text-decoration: underline;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-default{
    cursor: default;
}

.tipsy{
    font-size: 0.85em;
}

.font-size-d9-em{
    font-size: 0.9em;
}

.font-size-d8-em{
    font-size: 0.8em;
}

.font-size-14{
    font-size: 14px;
}

.font-size-18{
    font-size: 18px;
}

/* Element classes */

.button{
    border: 0;
    margin: 0 10px 10px 0;
    padding: 8px 24px 8px 24px;
    color: black;
    text-decoration: none;
    @include border-radius(10px);
    @include gradient($defaultLightColor, $defaultLightColor, $defaultDarkColor);
    @include box-shadow(2px, 2px, 2px, 1px, rgba(150, 150, 150, 1));

    i{
        margin: 0 5px 0 0;
    }
}

.button:hover{
    background: $defaultDarkColor;
    box-shadow: 0 0 0 0 black;
    cursor: pointer;
}

.delete{
    background: $snowColor;
    color: $lightGrayColor;
    @include box-shadow-disabled();
}

.button-disabled{
    background: $snowColor;
    color: $lightGrayHover;
    @include box-shadow-disabled();
}

.button-disabled:hover{
    background: $snowColor;
    color: $lightGrayHover;
    @include box-shadow-disabled();
}

.button2{
    border: 0;
    padding: 8px 35px;
    color: white;
    background-color: $lightGreen;
}

.small-button {
    padding: 3px 10px 3px 10px;
    margin: 2px;
    background-color: $darkerGrayColor;
    color: white;
    @include border-radius(5px);
    
    i{
        float: left;
        margin: 3px 5px 0 0;
    }
    
    span{
        display: inline-block;
    }
}

.required:after{
    content: '*';
    color: $defaultRed;
}

.dropdown-disabled{
    background: $snowColor;
    color:$lightGrayHover;
    border:solid 1px $defaultLightColor;
}

.formFieldset{
    background-color: $defaultLightColor;
    @include border-radius(5px);

    .formFieldsetChild{
        background-color: $formDarkColor;
        @include border-radius(5px);
    }

    h3{
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
    }

    .formFieldsetButton{
        i{
            margin:0 2px 0 0;
        }            
    }
}

.alert-message {
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    @include border-radius(5px);

    ul {
        margin: 3px;
    }
}

.error-message {
    color: $dangerRed;
    background-color: $alertRed;
    border-color: $dangerRed;
}

.success-message {
    color: $successGreen;
    background-color: $alertGreen;
    border-color: $successGreen;
}

.dialog-h2{
    font-size: 1.2em;
    margin: 0.4em 0;
}

.icon-disabled{
    color:$lightGrayHover;
}

.modalwindow {
    border: 1px solid $defaultDarkColor;
    background-color: $defaultLightColor;
    font-size: $defaultFontSize;
    padding: 5px;
    @include box-sizing(border-box);
    @include border-radius(5px);
}

.dialog-description {
    background-color: $lightGreen;
    color: white;
    margin-bottom:5px;
    padding:5px;
    @include border-radius(5px);
}

.listing-description {
    display:inline-block;
    background-color: $lightGreen;
    color: white;
    margin-bottom:5px;
    padding:5px;
    @include border-radius(5px);
}

.custom-field{
    background-color:$formDarkColor;
    width:110px;
    padding:3px;
    @include border-radius(5px);
}

.bottom-0{
    bottom: 0;
}

.clear-both{
    clear: both;
}

.textarea-non-resizeable{
    resize: none;
}

#ajax-loader {
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 5px;
    z-index: 7000000;
}

#ajax-loader span {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    background: $darkGrey;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
    &:nth-of-type(2) {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
    }
    &:nth-of-type(3) {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
    }
}

@-webkit-keyframes loader {
    0% {
        width: 3px;
        height: 3px;
        opacity: 0.9;
        -webkit-transform: translateX(0px);
    }
    100% {
        width: 3px;
        height: 3px;
        opacity: 0.1;
        -webkit-transform: translateX(-21px);
    }
}

@-moz-keyframes loader {
    0% {
        width: 3px;
        height: 3px;
        opacity: 0.9;
        -moz-transform: translateX(0);
    }
    100% {
        width: 3px;
        height: 3px;
        opacity: 0.1;
        -moz-transform: translateX(-21px);
    }
}