/* 
    Created on : May 14, 2014, 10:07:42 AM
    Author     : OPIT Consulting Kft. - NOTES/TAO Team - {@link http://www.opit.hu} 
*/

@import '_defaults';

#menu {
    list-style:none;
    display:inline;
    max-width:790px;
    text-align: right;
    height:50px;
    background: $menuBgGrey;
    float: right;
    padding: 0 10px 0 10px;
    margin: -3px 3px 0 0;
    line-height: 30px;
    @include box-sizing(border-box);
    
    &.clone {
        position: fixed;
        top: 0;
        display:none;
        width:100%;
        max-width:100%;
       @include box-shadow(2px, 2px, 2px, 1px, rgba(150, 150, 150, .6));
    }
    
    li {
        float:right;
        display:block;
        text-align:center;
        position:relative;
        padding: 4px 10px 10px 10px;
        margin-right:50px;
        margin-top:7px;
        border:none;
        z-index: 99;

        &:hover {
            border: 1px solid #777777;
            padding: 4px 9px 10px 9px;

            /* Background color and gradients */
            background: #F4F4F4;
            background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));

            /* Rounded corners */
            -moz-border-radius: 5px 5px 0px 0px;
            -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;

            a {
                color:#161616;
                text-shadow: 1px 1px 1px #ffffff;
            }

            .dropdown_1column, 
            .dropdown_2columns, 
            .dropdown_3columns,
            .dropdown_4columns {
                left:-1px;
                top:auto;
            }

            .align_right {
                left:auto;
                right:-1px;
                top:auto;
            }
            
            div a {
                font-size:12px;
                color:#015b86;
            }
            
            div a:hover {
                color:#029feb;
            }
        }

        a {
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px; 
            color: #FFF;
            display:block;
            outline:0;
            text-decoration:none;
        }

        .align_right {
            /* Rounded Corners */
            -moz-border-radius: 5px 0px 5px 5px;
            -webkit-border-radius: 5px 0px 5px 5px;
            border-radius: 5px 0px 5px 5px;
        }
        
        ul {
            list-style:none;
            padding:0;
            margin:0 0 12px 0;
            
            li {
                font-size:12px;
                line-height:24px;
                position:relative;
                text-shadow: 1px 1px 1px #ffffff;
                padding:0;
                margin:0;
                float:none;
                text-align:left;
                width:160px;
            
                &:hover {
                    background:none;
                    border:none;
                    padding:0;
                    margin:0;
                }

                i {
                    float:left;
                    text-align:left;
                    line-height:24px;
                }
            }
        }
    }

    .menu_right {
        float:right;
        margin-right:0px;
    }
    
    h2 {
        font-size:21px;
        font-weight:400;
        letter-spacing:-1px;
        margin:7px 0 14px 0;
        padding-bottom:14px;
        border-bottom:1px solid #666666;
    }
    
    h3 {
        font-size:14px;
        margin:7px 0 14px 0;
        padding-bottom:7px;
        border-bottom:1px solid #888888;
    }
    
    p {
        line-height:18px;
        margin:0 0 10px 0;
    }
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns {
    margin:10px auto;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    border-top:none;

    /* Gradient background */
    background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));

    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {
    width: 160px;
}
.dropdown_2columns {
    width: 280px;
}
.dropdown_3columns {
    width: 340px;
}
.dropdown_4columns {
    width: 560px;
}

.col_1, .col_2, .col_3, .col_4{
    display:inline;
    float: left;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

.col_1 {
    width:160px;
}
.col_2 {
    width:270px;
}
.col_3 {
    width:330px;
}
.col_4 {
    width:550px;
}

.menu-link{
    font-size:12px;
    color:#015b86;

    &:hover{
        color:#029feb;
    }
}
