<form class="delete-checkbox-form">
    <table id="list-table" class="width-100">
        <tr>
            <th class="width-24-fix">
                <i class="fa fa-trash-o fa-1x" title="Select/Deselect all"></i>
            </th>
            <th>
                <i class="fa fa-sort default-right" data-field="id"></i>
                <span class="order-text cursor-pointer">Id</span>
            </th>
            <th>
                <i class="fa fa-sort default-right" data-field="teamName"></i>
                <span class="order-text cursor-pointer">Team Name</span>
            </th>
            <th>Assigned Users</th>
            <th>Actions</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td class="width-24-fix">
                <input name="delete-user[]" type="checkbox" class="deleteMultiple" {% if 0 < numberOfRelations[team.id] %}disabled="disabled"{% endif %}>
            </td>
            <td>{{ team.id }}</td>
            <td>{{ team.teamName }}</td>
            <td>
                {{ numberOfRelations[team.id] }}
            </td>
            <td>

                <span class="edit-team clickable text-decoration-none cursor-pointer" title="Edit team" data-id="{{ team.id }}">
                    <i class="fa fa-pencil-square-o"></i>
                </span>
                {% if 0 == numberOfRelations[team.id] %}
                <span class="remove clickable text-decoration-none cursor-pointer" title="Delete team">
                    <i class="fa fa-trash-o"></i>
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>