{% extends 'OpitOpitHrmCoreBundle::layout.html.twig' %}
{% block title %}
    Job title list - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="margin-bottom-01em-important">Job title list</h1>
{% include 'OpitOpitHrmCoreBundle:Shared:_order.html.twig' %}
<div class="listing-description">Job titiles can be created from here.They can be assigned to users later on.</div>
<div  id="list">
    <table>
        <tr>
            <td class="padding-left-0">
                <button id="addJobTitle" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    {% include 'OpitOpitHrmUserBundle:Admin:_listJobTitle.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitOpitHrmUserBundle/Resources/public/js/admin.coffee'
        '@OpitOpitHrmUserBundle/Resources/public/js/list.coffee'
    output='js/opithrmuser/jobtitle_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}
