/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2013, 4:37:04 PM
    Author     : OPIT\kaufmann
*/

$defaultDarkColor: rgba(180, 180, 180, 1);
$darkGrey: rgba(100, 100, 100, 1);
$defaultLightColor: rgba(235, 235, 235, 1);
$orangeColor: #f28c38;
$darkerGrayColor: rgba(80, 80, 80, 1);
$lightGrayColor: rgba(220, 220, 220, 0.8);
$lightGrayHover: rgba(200, 200, 200, 1);


$defaultRed: rgb(170, 0, 0);
$defaultGreen: rgb(0, 100, 0);

$formLightColor: rgba(235, 235, 235, 1);
$formDarkColor: rgba(210, 210, 210, 1);

$defaultFontSize: 13px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
       -o-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
       -o-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
       -o-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
       -o-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

@mixin gradient($color1, $color2, $color3){
        background: linear-gradient($color1, $color2, $color3);
        background: -webkit-linear-gradient($color1, $color2, $color3);
        background: -o-linear-gradient($color1, $color2, $color3);
        background: -moz-linear-gradient($color1, $color2, $color3);
}
@mixin box-shadow($left, $top, $scatter, $size, $color){
    box-shadow: $left $top $scatter $size $color;
    -moz-box-shadow: $left $top $scatter $size $color;
    -webkit-box-shadow: $left $top $scatter $size $color;
    -o-box-shadow: $left $top $scatter $size $color;
}

.float-left {
    float: left;
}

.no-margin {
    margin: 0;
}

.width-24 {
    width: 24%!important;
}

.width-98 {
    width: 98%!important;
}

.width-24-fix {
    width: 24px!important;
}

.height-auto {
    height: auto;
}

.height-20{
    height: 20px;
}

.height-60{
    height: 60px;
}

.default-border {
    border: 1px solid $darkGrey;
}

.overflow-hidden {
    overflow: hidden;
}

.vertical-align-top {
    vertical-align: top;
}

.modalwindow {
    border: 1px solid $darkGrey;
    background-color: $defaultLightColor;
    font-size: $defaultFontSize;
    padding: 5px;
    @include border-top-right-radius(5px);
    @include border-top-left-radius(5px);
    @include border-bottom-right-radius(5px);
    @include border-bottom-left-radius(5px);
}
