/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2013, 4:37:04 PM
    Author     : OPIT Consulting Kft. - PHP Team - {@link http://www.opit.hu}
*/

$snowColor: rgb(250, 250, 250);
$darkSnowColor: rgb(244, 244, 244);
$defaultLightColor: rgba(235, 235, 235, 1);
$darkerSnowColor: rgba(230, 230, 230, 1);
$lightGrayColor: rgba(220, 220, 220, 0.8);
$bgGrey: rgb(219, 219, 219);
$formDarkColor: rgba(210, 210, 210, 1);
$lightGrayHover: rgba(200, 200, 200, 1);
$defaultDarkColor: rgba(180, 180, 180, 1);
$boxShadowColor: rgba(160, 160, 160, 1);
$darkGrey: rgb(146, 146, 146);
$greyColor: rgba(140, 140, 140, 1);
$darkGrey: rgba(100, 100, 100, 1);
$darkerGrayColor: rgba(80, 80, 80, 1);

$defaultRed: rgb(170, 0, 0);
$dangerRed: rgb(169, 68, 66);
$alertRed: rgb(242, 222, 222);

$defaultGreen: rgb(0, 100, 0);
$successGreen: rgb(60, 118, 61);
$alertGreen: rgb(223, 240, 216);

$orangeColor: rgb(242, 140, 56);

$buttonDeleteLightColor: rgba(220, 10, 10, 1);
$buttonDeleteDarkColor: rgba(140, 10, 10, 1);
$buttonAddLightColor: rgba(10, 200, 10, 1);
$buttonAddDarkColor: rgba(10, 140, 10, 1);

$defaultFontSize: 13px;
$defaultFontSize: .9em;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-top-left-radius($radius) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    -o-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-top-right-radius: $radius;
    -ms-border-top-right-radius: $radius;
    -o-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
    -ms-border-bottom-left-radius: $radius;
    -o-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
    -o-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

@mixin gradient($color1, $color2, $color3){
    background: linear-gradient($color1, $color2, $color3);
    background: -webkit-linear-gradient($color1, $color2, $color3);
    background: -o-linear-gradient($color1, $color2, $color3);
    background: -moz-linear-gradient($color1, $color2, $color3);
}
@mixin gradient-with-percent($color1, $color2, $color3, $percent){
    background-image: -webkit-linear-gradient($color1, $color2 $percent, $color3);
    background-image: -moz-linear-gradient($color1, $color2 $percent, $color3);
    background-image: -ms-linear-gradient($color1, $color2 $percent, $color3);
    background-image: -o-linear-gradient($color1, $color2 $percent, $color3);    
}
@mixin box-shadow($left, $top, $scatter, $size, $color){
    box-shadow: $left $top $scatter $size $color;
    -moz-box-shadow: $left $top $scatter $size $color;
    -webkit-box-shadow: $left $top $scatter $size $color;
    -o-box-shadow: $left $top $scatter $size $color;
}

@mixin box-shadow-disabled(){
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

.bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-margin {
    margin: 0;
}

.width-24 {
    width: 24%!important;
}

.width-30 {
    width: 30%!important;
}

.width-32 {
    width: 32%!important;
}

.width-40 {
    width: 40%!important;
}

.width-55 {
    width: 55%!important;
}

.width-96 {
    width: 96%!important;
}

.width-98 {
    width: 98%!important;
}

.width-15-fix {
    width: 15px!important;
}

.width-24-fix {
    width: 24px!important;
}

.width-80-fix {
    width: 80px!important;
}

.width-small{
    width: 100px;
}

.wdith-medium{
    width: 200px;
}

.width-big{
    width: 300px;
}

.width-large{
    width: 500px;
}

.height-auto {
    height: auto;
}

.height-20{
    height: 20px;
}

.height-50{
    height: 50px;
}

.height-60{
    height: 60px;
}

.default-border {
    border: 1px solid $darkGrey;
}

.overflow-hidden {
    overflow: hidden;
}

.vertical-align-top {
    vertical-align: top;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

table.bordered{
    tr, td, th{
        @extend .default-border;
    }
}

.bgGrey{
    background-color: $formDarkColor;
}

.no-text-decoration {
    text-decoration: none !important;
}

.modalwindow {
    border: 1px solid $darkGrey;
    background-color: $defaultLightColor;
    font-size: $defaultFontSize;
    padding: 5px;
    @include border-top-right-radius(5px);
    @include border-top-left-radius(5px);
    @include border-bottom-right-radius(5px);
    @include border-bottom-left-radius(5px);
}

.modal-description {
    background-color: $orangeColor;
    color: white;
    margin-bottom:5px;
    padding:5px;
    @include border-radius(5px);
}

input.error, select.error{
    border:solid 2px $defaultRed;
    display:block;
}

label.error, label.custom-label-error{
    color:$defaultRed;
    background-color:$lightGrayHover;
    padding:2px;
    border:solid 2px $defaultRed;
    margin-top:5px;
    display:block;
    z-index:4;
    @include border-radius(5px);
}

label.custom-label-error{
    display:inline-block;
}

label.valid{
    display:none !important;
}

.alert-message {
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    @include border-top-right-radius(5px);
    @include border-top-left-radius(5px);
    @include border-bottom-right-radius(5px);
    @include border-bottom-left-radius(5px);

    ul {
        margin: 3px;
    }
}

.error-message {
    color: $dangerRed;
    background-color: $alertRed;
    border-color: $dangerRed;
}

.success-message {
    color: $successGreen;
    background-color: $alertGreen;
    border-color: $successGreen;
}

.pointer{
    cursor:pointer;
}
.no-pointer{
    cursor:default !important;
}
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

input {
    &.icon-prefix-indent {
        text-indent: 18px;
        background-color: white;
    }
}

.input-prefix-position {
    top: 18px;
    left: 5px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-20 {
    margin-top: 20px;
}
.padding-top-20 {
    padding-top: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.darker-gray-color {
    color: $darkerGrayColor;
}
.display-block {
    display:block;
}

.display-none {
    display:none;
}

.small-button {
    padding:3px 10px 3px 10px;
    margin: 2px;
    background-color: $darkGrey;
    color:white !important;
    @include border-radius(5px);
    i{
        float:left;
        margin:3px 5px 0 0;
    }
    span{
        display:inline-block;
    }
}

.active-text{
    color:$orangeColor !important;
}

.notification-type-title{
    width:100%;
    background-color:$defaultDarkColor;
    padding:3px 0 3px 0;
    font-weight:bold;
    color:white;
    text-indent: 5px;
}

.visibility-hidden{
    visibility:hidden;
}

.tipsy{
    font-size:0.85em;
}

.margin-bottom-10{
    margin-bottom: 10px;
}