/*  Created on : Nov 25, 2013, 10:37:17 AM Author     : OPIT Consulting Kft. - PHP Team - {@link http://www.opit.hu}
*/
/*  Created on : Mar 10, 2014, 10:16:52 AM Author     : OPIT\NOTES
*/
.ui-dialog-content #user { margin-top: 15px; }
.ui-dialog-content #user > div { margin-bottom: 10px; }
.ui-dialog-content .ui-dialog-content { padding: 10px; }
.ui-dialog-content .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: left; }

#dialog-details-travel .dialog-table-tr-seperator { border-bottom: #646464 solid 2px; }
