/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2013, 10:37:17 AM
    Author     : OPIT\Notes
*/

@import '_defaults';

$buttonDeleteLightColor: rgba(220, 10, 10, 1);
$buttonDeleteDarkColor: rgba(140, 10, 10, 1);
$buttonAddLightColor: rgba(10, 200, 10, 1);
$buttonAddDarkColor: rgba(10, 140, 10, 1);

table {
    th { 
        background-color: #f28c38;
        padding: 10px 10px 10px 10px;
        text-align: left;
        color: white; 
    }
    td { 
        padding: 5px 10px 5px 10px;
    }
    
    .delete{
        margin:0 0 0 10px;
        @include button-gradient($buttonDeleteLightColor, $buttonDeleteLightColor, $buttonDeleteDarkColor);
        @include box-shadow(2px, 2px, 2px, 1px, $buttonDeleteDarkColor);        
    }
    
    .delete:hover{
        background: $buttonDeleteDarkColor;
    }
    
    .add{
        @include button-gradient($buttonAddLightColor, $buttonAddLightColor, $buttonAddDarkColor);
        @include box-shadow(2px, 2px, 2px, 1px, $buttonAddDarkColor);               
    }
    
    .add:hover{
        background: $buttonAddDarkColor;
    }
}