/* 
    Created on : Nov 20, 2013, 3:09:17 PM
    Author     : OPIT\NOTES
*/

@import './app/Resources/public/css/_defaults.scss';

html {
    background: url('../../../images/bg-office.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mainWrapper{
    width:60%;
    min-width:980px;

    #welcomeWrapper{
        width: 30%;
        height: 180px;
        text-indent: 15px;
        background-color: $aquamarine;
        opacity:0.8;
        filter:alpha(opacity=80); /* For IE8 and earlier */

        #welcomeText{
            font-size: 2em;
        }

        #welcomeUnderText{
            font-size: .8em;
            margin-top: -10px;;
        }
    }

    #loginForm{
        //clear:both;
        background-color: $aquamarine; 
        width: 30%; 
        height: 268px; 
        background: $aquamarineTransparent;

        > div{
            margin:20px;
        }

        form{

            #login{

                .placeholder{
                    margin: -30px 0 0 10px;
                }
            }

            input{
                width:240px;
                height:30px;
                outline:none;
                border:1px solid transparent;
                background-color: #FAFFBD;
                padding: 2px 5px;
                text-indent: 25px;
                @include border-radius(0px);
            }

            input:focus{
                border:solid 1px $defaultDarkColor;
            }

            label{
                display:none;
            }

            button{
                border:0;
                outline:0;
                padding:8px 30px 8px 30px;
            }
        }
    }

    #featuresForm{
        width: 69.5%;
        min-height: 600px;
        text-indent: 20px;      

        li{
            margin:0 0 0 20px;
            text-indent: 5px;
        }
    }
}

.home-box {
    color: #fafafa;
    padding: .5em;
    margin: 0 auto;
    background-color: #000000;
    min-height: 142px;
    border-bottom: 1px solid #b6b6b6;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    &:hover{
        opacity:0.9;
        filter:alpha(opacity=90); /* For IE8 and earlier */ 
    }
}
