/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Nov 20, 2013, 3:09:17 PM Author     : OPIT\kaufmann
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Nov 27, 2013, 4:37:04 PM Author     : OPIT Consulting Kft. - PHP Team - {@link http://www.opit.hu}
*/
.bold { font-weight: bold; }

.float-left { float: left; }

.float-right { float: right; }

.no-margin { margin: 0; }

.width-24 { width: 24% !important; }

.width-40 { width: 40% !important; }

.width-98 { width: 98% !important; }

.width-24-fix { width: 24px !important; }

.width-small { width: 100px; }

.wdith-medium { width: 200px; }

.width-big { width: 300px; }

.width-large { width: 500px; }

.height-auto { height: auto; }

.height-20 { height: 20px; }

.height-60 { height: 60px; }

.default-border, table.bordered tr, table.bordered td, table.bordered th { border: 1px solid #929292; }

.overflow-hidden { overflow: hidden; }

.vertical-align-top { vertical-align: top; }

.align-center { text-align: center; }

.no-text-decoration { text-decoration: none !important; }

.modalwindow { border: 1px solid #929292; background-color: #ebebeb; font-size: 0.9em; padding: 5px; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }

.alert-message { border: 1px solid transparent; margin-top: 10px; margin-bottom: 10px; padding: 10px; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.alert-message ul { margin: 3px; }

.error-message { color: #a94442; background-color: #f2dede; border-color: #a94442; }

.success-message { color: #3c763d; background-color: #dff0d8; border-color: #3c763d; }

.pointer { cursor: pointer; }

.absolute { position: absolute; }

.relative { position: relative; }

input.icon-prefix-indent { text-indent: 18px; background-color: white; }

.input-prefix-position { top: 18px; left: 5px; }

.margin-top-2 { margin-top: 2px; }

.darker-gray-color { color: #505050; }

#mainWrapper { width: 60%; min-width: 1024px; margin: 0 auto; }
#mainWrapper #welcomeWrapper { width: 100%; min-width: 740px; height: 250px; background-color: rgba(220, 220, 220, 0.8); margin: 0 auto; box-shadow: 1px 1px 1px 1px #a0a0a0; }
#mainWrapper #welcomeWrapper #welcomeText { padding: 15px 0 0 0; color: black; font-size: 8em; text-align: center; }
#mainWrapper #welcomeWrapper #welcomeUnderText { color: #f28c38; font-size: 1.7em; text-align: center; margin-top: -35px; }
#mainWrapper #loginForm { float: left; background-color: rgba(220, 220, 220, 0.8); width: 30%; margin-top: 10px; height: 223px; box-shadow: 1px 1px 1px 1px #a0a0a0; }
#mainWrapper #loginForm > div { margin: 20px; }
#mainWrapper #loginForm h2 { margin-bottom: 5px; }
#mainWrapper #loginForm .error { color: red; margin-bottom: 10px; }
#mainWrapper #loginForm form #login div { margin: 0 0 10px 0; }
#mainWrapper #loginForm form #login .placeholder { position: absolute; margin: -30px 0 0 10px; }
#mainWrapper #loginForm form #login .placeholder .hidden { display: none; }
#mainWrapper #loginForm form input { width: 240px; height: 30px; outline: none; border: 2px solid transparent; background-color: #fafafa; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
#mainWrapper #loginForm form input:focus { border: solid 2px #f28c38; }
#mainWrapper #loginForm form label { display: none; }
#mainWrapper #loginForm form button { border: 0; outline: 0; background-color: #f28c38; float: left; color: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#mainWrapper #featuresForm { background-color: rgba(220, 220, 220, 0.8); width: 69%; height: 223px; float: left; margin: 10px 0 0 10px; text-indent: 20px; box-shadow: 1px 1px 1px 1px #a0a0a0; }
#mainWrapper #featuresForm li { margin: 0 0 0 20px; text-indent: 5px; }
#mainWrapper .input-padding, #mainWrapper #loginForm form input { padding: 2px 5px; }
#mainWrapper .input-indent, #mainWrapper #loginForm form input { text-indent: 25px; }
#mainWrapper .button-padding, #mainWrapper #loginForm form button { padding: 8px 30px 8px 30px; }
