/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Nov 26, 2013, 11:50:17 AM Author     : OPIT\kaufmann
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Nov 26, 2013, 11:49:55 AM Author     : OPIT\kaufmann
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  Created on : Nov 27, 2013, 4:37:04 PM Author     : OPIT Consulting Kft. - PHP Team - {@link http://www.opit.hu}
*/
.bold { font-weight: bold; }

.float-left { float: left; }

.float-right { float: right; }

.no-margin { margin: 0; }

.width-24 { width: 24% !important; }

.width-40 { width: 40% !important; }

.width-96 { width: 96% !important; }

.width-98 { width: 98% !important; }

.width-15-fix { width: 15px !important; }

.width-24-fix { width: 24px !important; }

.width-small { width: 100px; }

.wdith-medium { width: 200px; }

.width-big { width: 300px; }

.width-large { width: 500px; }

.height-auto { height: auto; }

.height-20 { height: 20px; }

.height-50 { height: 50px; }

.height-60 { height: 60px; }

.default-border, table.bordered tr, table.bordered td, table.bordered th { border: 1px solid #929292; }

.overflow-hidden { overflow: hidden; }

.vertical-align-top { vertical-align: top; }

.align-center { text-align: center; }

.no-text-decoration { text-decoration: none !important; }

.modalwindow { border: 1px solid #929292; background-color: #ebebeb; font-size: 0.9em; padding: 5px; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }

.modal-description { background-color: #f28c38; color: white; margin-bottom: 5px; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.alert-message { border: 1px solid transparent; margin-top: 10px; margin-bottom: 10px; padding: 10px; -webkit-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -o-border-top-right-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -o-border-top-left-radius: 5px; border-top-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; -ms-border-bottom-right-radius: 5px; -o-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-bottom-left-radius: 5px; -ms-border-bottom-left-radius: 5px; -o-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.alert-message ul { margin: 3px; }

.error-message { color: #a94442; background-color: #f2dede; border-color: #a94442; }

.success-message { color: #3c763d; background-color: #dff0d8; border-color: #3c763d; }

.pointer { cursor: pointer; }

.absolute { position: absolute; }

.relative { position: relative; }

input.icon-prefix-indent { text-indent: 18px; background-color: white; }

.input-prefix-position { top: 18px; left: 5px; }

.margin-top-2 { margin-top: 2px; }

.darker-gray-color { color: #505050; }

#userlistWrapper > table { width: 100%; }

#searchFormWrapper { background-color: #ebebeb; margin-bottom: 20px; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#searchFormWrapper h3 { font-size: 1.4em; margin: 0; }
#searchFormWrapper h3 i { font-size: .5em; padding: 4px; color: #b4b4b4; border: solid 1px #b4b4b4; background-color: #f0f0f0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#searchFormWrapper h3 i:hover { cursor: pointer; color: #8c8c8c; border: solid 1px #8c8c8c; background-color: #e6e6e6; }
#searchFormWrapper #toggleSearchForm:hover { cursor: pointer; }
#searchFormWrapper #searchFormProperties { padding: 10px; }
#searchFormWrapper #searchFormProperties .searchProperty { width: 15%; margin: 5px; display: inline-block; }
#searchFormWrapper #searchFormProperties .searchProperty input[type="text"], #searchFormWrapper #searchFormProperties .searchProperty input[type="date"] { width: 100%; }
#searchFormWrapper #searchFormProperties .searchProperty label { display: block; }
#searchFormWrapper #searchFormButtons { margin: 10px 0 10px 15px; }
#searchFormWrapper #searchFormButtons button.reset { margin: 0 0 0 10px; }
