{% form_theme form 'OpitNotesUserBundle:Form:form_template.html.twig' %}
<h2>Reset Password</h2>
<div class="description default-border-radius">Reset password of the user</div>
<div id="reply-message"></div>
<div class="error-message">
    {{ form_errors(form) }}
</div>
<form name="changePassword_frm" id="changePassword_frm" method="post">
    <div class="modalwindow width-98 default-border height-auto overflow-hidden">
            {{ form_widget(form) }}
    </div>
</form>

