{% extends 'OpitNotesCoreBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block title %}
    User list - {{ parent() }}
{% endblock %}
{% block body %}
<h1 class="margin-bottom-01em-important">User list</h1>
<div class="listing-description">Users for the portal can be managed from here.</div>
    {% include 'OpitNotesUserBundle:Shared:_searchForm.html.twig' with { 'order_field': 'u.id' } %}
    <div id="userlistWrapper">
        <table>
            <tr>
                <td class="padding-left-0">
                    <button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                    <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
                </td>
            </tr>
        </table>
        <div id="list-reply-message"></div>
        <div id="user-list">
            {% include 'OpitNotesUserBundle:Shared:_list.html.twig' %}
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesCoreBundle/Resources/public/js/SearchForm.coffee'
        '@OpitNotesUserBundle/Resources/public/js/list.coffee'
    output='js/opitnotesuser/list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}