{% form_theme form 'OpitNotesUserBundle:Form:form_template.html.twig' %}

{% if form.vars.value.getId() is defined %}
    {% set title = "Edit User"  %}
    {% set desc = "Edit an existing user." %}
{% else %}
    {% set title = "Create User"  %}
    {% set desc = "Create a new user." %}
{% endif %}
<h2>{{ title|trans }}</h2>
<div class="description default-border-radius">{{desc|trans}}</div>
<div id="reply-message"></div>
<div class="error-message">
    {{ form_errors(form) }}
</div>
<form name="adduser_frm" id="adduser_frm" method="post">
    <div class="modalwindow width-98 default-border height-auto overflow-hidden">
            {{ form_widget(form) }}
    </div>
</form>
