{% extends 'OpitOpitHrmCoreBundle:Mail:scaffold.html.twig' %}

{% block content %}
    {% set jobPosition = templateVars['jobPosition'] %}
    {% set employee = jobPosition.createdUser.employee %}

    <table cellpadding="5" style="background: #0C090A; width: 400px; font-size: 12px; color: white; border-bottom: 1px solid #94c11c;">
        <tr>
            <td colspan="2">
                <font style="color:#94c11c; font-size: 13px;"><u>Job position summary</u></font><br />
            </td>
        </tr>
        <tr>
            <td width="20%"><strong>Id:</strong></td>
            <td>{{ jobPosition.jobPositionId }}<br /></td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="3" border="1" bordercolor="white" style="width: 100%; color: white; font-size: 12px; border-collapse: collapse; border-spacing: 0;">
                    <tr>
                        <td style="font-weight:bold; width: 20%;">Job title</td>
                        <td>{{ jobPosition.jobTitle }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">No. of positions</td>
                        <td>{{ jobPosition.numberOfPositions }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Description</td>
                        <td>{{ jobPosition.description }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">Active</td>
                        <td>{% if 1 == jobPosition.isActive %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}