<div style="margin:25px 0 0 0;">
    Thanks,<br />
    NOTES Team
    <br>
    <p>
        Autosent by NOTES 2014 - An initiative of <a href="http://www.opit.hu/">OPIT Consulting KFT</a>, Hungary
    </p>

</div>