{% set loginPageLink %}
<a href="{{ path('OpitNotesUserBundle_security_login') }}">
    NOTES
</a>
{% endset %}
<div style="margin: 0 0 10px 0;">Hi {{ templateVars['user'].employee.employeeName }}</div>
<div style="margin: 0 0 10px 0;">
    Your password for {{ loginPageLink }} has been reset.
</div>
<div>
    <strong>New password:</strong> {{ templateVars['password'] }}
</div>
{% include 'OpitNotesUserBundle:Mail:footer.html.twig' %}