    <div class="helpToolTipDescription background-section-color-grey short-description position-absolute padding-5 display-none">
        <table border="1">
            <tr><td colspan="5" class="font-size-14"><b>System Roles Access Table</b></td></tr>
            <tr>
                <td><b>ROLE</b></td>
                <td><b>Administration</b></td>
                <td><b>Reports</b></td>
                <td><b>Requests</b></td>
                <td><b>Hiring</b></td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>System Admin</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
            <tr>
                <td>General Manager</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Team Manager</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>User</td>
                <td>No</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
            </tr>
        </table>
        <table border="1">
            <tr><td colspan="7" class="font-size-14"><b>System Roles Privileges table</b></td></tr>
            <tr>
                <td><b>S.no</b></td>
                <td><b>Functionality</b></td>
                <td><b>Admin</b></td>
                <td><b>System Admin</b></td>
                <td><b>General Manager</b></td>
                <td><b>Team Manager</b></td>
                <td><b>User</b></td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Own Request Listing</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Employee Request Listing</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes (Assigned)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Delete Own Request (Future)</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Delete Own Request (Past)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Delete Employee Request (Future)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes (Assigned)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Delete Employee Request (Past)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes (Assigned)</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>7.</td>
                <td>Create Own Request (Future)</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>8.</td>
                <td>Create Own Request (Past)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>9.</td>
                <td>Create Employee Request (Future)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>10.</td>
                <td>Create Employee Request (Past)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>11.</td>
                <td>Assign Roles to users</td>
                <td>Yes</td>
                <td>Yes (< Own Role)</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>12.</td>
                <td>Finalized status (Approve,Hired,Reject)</td>
                <td>Yes</td>
                <td>No</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>13.</td>
                <td>Edit Request After Final Status</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>14.</td>
                <td>Follow Status Workflow</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>15.</td>
                <td>Edit Own Request (Future)</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>16.</td>
                <td>Edit Employee Request</td>
                <td>Yes</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
                <td>No</td>
            </tr>
            <tr>
                <td>17.</td>
                <td>Update/Delete Users, Reset Password</td>
                <td>Yes</td>
                <td>Yes (< Own Role)</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </table>
    </div>