{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block title %}
    Role list - {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var valueForm = 'groupForm';
        var valueField = 'group';
        var url = 'OpitNotesUserBundle_admin_groups_show';
        var listUrl = 'OpitNotesUserBundle_admin_groups_list';
        var removeUrl = 'OpitNotesUserBundle_admin_groups_delete';
        var propertyName = 'role';
        var propertyNameCapital = 'Role';
    </script>
    {% javascripts
        '@OpitNotesUserBundle/Resources/public/js/Admin/et_role_funcs.coffee'
        '@OpitNotesCoreBundle/Resources/public/js/ToolTipHelp.coffee'
        output='js/opitnotesuser/admin_groups_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).data('notes').funcs.showHideToolTip();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block body %}
    <h1 class="margin-bottom-01em-important" id="idRole">Role list<i class="fa fa-info-circle cursor-pointer margin-left-5"></i></h1>
{% include 'OpitNotesUserBundle:Admin:_roleHelp.html.twig' %}
{% include 'OpitNotesCoreBundle:Shared:_order.html.twig' %}
<div class="listing-description">Roles can be created from here.They can be assigned to users to manage their access in the portal.</div>
    <table>
        <tr>
            <td class="padding-left-0">
                <button id="add" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    {% include 'OpitNotesUserBundle:Admin:_groupsList.html.twig' with {
        'groups': groups,
        'systemRoles': systemRoles,
        'numberOfRelations': numberOfRelations,
        } %}
    {% include 'OpitNotesUserBundle:Shared:_dialog.html.twig' with {
        'fieldName': 'group',
        'fieldLabel': 'Role name'
    } %}
{% endblock %}    