{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
    Job title list - {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {% stylesheets
        '../app/Resources/public/css/list.css'
    output='css/opitnotesuser/list.css' filter='?yui_css,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<h1>Job title list</h1>
<div  id="list">
    <table>
        <tr>
            <td class="padding-0">
                <button id="addJobTitle" class="button"><i class="fa fa-plus-square fa-1x"></i>Add</button>
                <button id="delete" class="button delete"><i class="fa fa-trash-o fa-1x"></i>Delete</button>
            </td>
        </tr>
    </table>
    <div id="list-reply-message"></div>
    {% include 'OpitNotesUserBundle:Admin:_listJobTitle.html.twig' %}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesUserBundle/Resources/public/js/admin.js'
        '@OpitNotesUserBundle/Resources/public/js/list.js'
    output='js/opitnotesuser/jobtitle_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset(asset_url) }}" ></script>
    {% endjavascripts %}
{% endblock %}
