{% extends 'OpitNotesCoreBundle::layout.html.twig' %}
{% block title %}
        Time Sheet list - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include '::_stylesheets.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Time sheet list</h1>
    <div id="list-reply-message"></div>
    <div id="leave_list">
        {% include 'OpitNotesLeaveBundle:TimeSheet:_listTimeSheet.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesLeaveBundle/Resources/public/js/listTimeSheet.coffee'
        '@OpitNotesLeaveBundle/Resources/public/js/main.coffee'
        '@OpitNotesUserBundle/Resources/public/js/list.coffee'
    output='js/opitnotesleave/timesheet_list.js' filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}