{% extends 'OpitNotesUserBundle::layout.html.twig' %}
{% block title %}
Per Diem list - {{ parent() }}
{% endblock %}
{% block body %}
<h1>Per diem configuration</h1>
<div class="modal-description default-border-radius">Per diem can be configured from here.</div>
<div  id="list">
    <div id="list-reply-message"></div>
    <div id="reply-message"></div>
    <form class="formFieldset">
        <div class="container  padding-top-20">
        {% include 'OpitNotesTravelBundle:Admin:_listPerDiem.html.twig' %}
        </div>
        <div class="addFormFieldsetChild formFieldsetButton no-pointer">
            <span id="addPerDiem" class="pointer">
                <i class="fa fa-plus-square"></i>
                Add Per diem
            </span>
        </div>
    </form>
    <a href="{{ path('OpitNotesUserBundle_admin_save_perdiem') }}"><button id="save" class="button">Save</button></a>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@OpitNotesUserBundle/Resources/public/js/Admin/PerDiem/admin.js'
    output='js/notes_admin.js' filter='?yui_js' %}
<script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}
{% endblock %}

