<div class='formFieldsetChild'>
    {{ form_row(form.id, {'full_name': 'id['~form.id.vars.value~']'}) }}
    {{ form_row(form.hours, {'full_name': 'hours['~form.id.vars.value~']' }) }}
    {{ form_row(form.ammount, { 'full_name': 'ammount['~form.id.vars.value~']'}) }}
    {{ form_row(form.isToDelete, { 'full_name': 'isToDelete['~form.id.vars.value~']'}) }}
    <div class='deleteFormFieldsetChild formFieldsetButton'>
        <div class='deletePerDiem'>
            <i class='fa fa-minus-square'></i>
            Delete
        </div>
    </div>
</div>