{% if index is null %}
    {% set index = '__index__' %}
{% endif %}
<div class='formFieldsetChild'>
    {{ form_row(form.id, {'id': 'perdiem'~index~'id', 'full_name': 'perdiem['~index~'][id]'}) }}
    {{ form_row(form.hours, {'id': 'perdiem'~index~'hours', 'full_name': 'perdiem['~index~'][hours]' }) }}
    {{ form_row(form.amount, { 'id': 'perdiem'~index~'amount', 'full_name': 'perdiem['~index~'][amount]'}) }}
    <div class='deleteFormFieldsetChild formFieldsetButton no-pointer'>
        <span class='deletePerDiem pointer'>
            <i class='fa fa-minus-square'></i>
            Delete
        </span>
    </div>
</div>
