{% if index is null %}
    {% set index = '__index__' %}
{% endif %}
<div class='formFieldsetChild padding-10 margin-right-1-em margin-bottom-1-em display-inline-block vertical-align-top'>
    {{ form_row(form.id, {'id': 'perdiem'~index~'id', 'full_name': 'perdiem['~index~'][id]'}) }}
    {{ form_row(form.hours, {'id': 'perdiem'~index~'hours', 'full_name': 'perdiem['~index~'][hours]' }) }}
    {{ form_row(form.amount, { 'id': 'perdiem'~index~'amount', 'full_name': 'perdiem['~index~'][amount]'}) }}
    {{ form_row(form.currency, {
                                'id': 'perdiem'~index~'currency',
                                'full_name': 'perdiem['~index~'][currency]',
                                'value': form.currency.vars.value ? form.currency.vars.value : 'EUR'
                               }
                ) }}
    <div class='deleteFormFieldsetChild formFieldsetButton no-pointer'>
        <span class='deletePerDiem deleteFormFieldsetChild formFieldsetButton form-fieldset-delete-button'>
            <i class='fa fa-minus-square'></i>
            Delete
        </span>
    </div>
</div>
