/*
 This file is part of the {Bundle}.

 (c) Expression license_company is undefined on line 6, column 24 in file:///home/likewise-open/OPIT/bota/NetBeansProjects/notes/nbproject/licenseheader.txt.

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
*/
/* 
    Created on : May 19, 2014, 4:43:26 PM
    Author     : OPIT\bota
*/

h3{
    margin:0.4em 0 0.4em 0;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border-color: black;
    margin-top: 20px;

    tr:last-child{
        td{
            border-bottom: solid 1px black;
        }
    }

    .table-title{
        background-color:lightgrey;
        padding: 0 0 0 5px;
        font-weight:bold;
        height: 25px;
        line-height: 25px;
        text-align:left;
    }
}

.border-solid-1-black{
    border:solid 1px black;
}

.border-right-3-black{
    border-right: solid 3px black;
}

.fa-print{
    float:right;
}

.icons:hover{
    cursor:pointer;
}
.icons{
    float:right;
    width:36px;
    height:36px;
    margin:0 0 0 5px;
}

@media print {

    @page {
        size: landscape;
    }

    h3 {
        display: none;
    }

    a{
        display:none;
    }

    table {
        font-size: 11.5px;
        page-break-after: always;
        margin-top: 0px;
    }

    .icons{
        display:none;
    }

    #export_buttons{
        display: none;
    }

    #download-pdf{
        display: none;
    }
}