<table cellpadding="5" style="width: 500px; font-size: 12px;">
    <tr>
        <td>
            <br />
            Thanks,<br />
            {% if (application_name != null and application_name != 'OPIT-HRM') %}{{ application_name }}{% else %}OPIT-HRM{% endif %} Team
        </td>
    </tr>
    <tr>
        <td>
            Autosent by OPIT-HRM 2014 - v{% if version_number is defined %}{{ version_number }}{% else %}3.0{% endif %} - An initiative of <a href="http://www.opit.hu/">OPIT Consulting KFT</a>, Hungary
        </td>
    </tr>
</table>