{% form_theme form 'OpitOpitHrmUserBundle:Form:form_template.html.twig' %}

<h2 class="dialog-h2 hidden">Reset Password</h2>
<div class="dialog-description">Reset password of the user</div>
<div id="reply-message"></div>
<div class="error-message">
    {{ form_errors(form) }}
</div>
{{ form_start(form, {'attr': { 'id': 'changePassword_frm'}, 'method': 'POST'}) }}
    <div class="modalwindow default-border height-auto overflow-hidden">
        {{ form_widget(form) }}
    </div>
{{ form_end(form) }}

