{% extends 'OpitOpitHrmCoreBundle:Shared:search.html.twig' %}

{% block forms %}
<div class="searchProperty vertical-align-top">
    <label for="search_employee_name">Employee name</label>
    <input type="text" name="search[employeeName]" id="search_employee_name" />
</div>
<div class="searchProperty vertical-align-top">
    <label for="search_email">Email</label>
    <input type="text" name="search[email]" id="search_email" />
</div>
<div class="searchProperty vertical-align-top">
    <label for="search_leave_id">Leave request id</label>
    <input type="text" name="search[leaveId]" id="search_leave_id" />
</div>
<div class="searchProperty vertical-align-top">
    <label for="search_start_date">Start date</label>
    <input type="date" name="search[startDate]" id="search_start_date" />
</div>
<div class="searchProperty vertical-align-top">
    <label for="search_end_date">End date</label>
    <input type="date" name="search[endDate]" id="search_end_date" />
</div>
{% endblock %}        